body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
} 

.MuiDataGrid-footerContainer {
    display: none!important;
}

a {
    cursor: pointer;
}

.saved-banner {
    color: #0a3622;
    border: 1px solid #91e0bd;
    border-radius: 6px;
    background-color: #91e0bd;
    padding: 4px 8px;    
}